*{
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

body{
    background-color: #F56EB3;
    text-align: justify;
}

h1{
    text-align: center;
    margin-top: 5px;
}

#front-txt{
    font-size: 50px;
    text-align: center;
}

.logo{
    width: 80px;
    border-radius: 30%;
}

.navbar-brand img{
    width: 80px;
    border-radius: 30%;
}

.bg{
    background-color: #460C68;
}

.navbar-brand{
    margin-right: 0;
    padding: 0 1em;
}

.navbar-toggler:focus{
    box-shadow: none;
}

@media(max-width:767px) {
    .ul-bg{
        margin-top: 10px;
        border: 2px solid #F56EB3;
        border-radius: 10px;
    }
}

.navbar-nav{
    align-items: center;
}

.navbar .navbar-nav .nav-link{
    color: #460c68;
    font-size: larger;
    padding: 0 1em;
}

.navbar .navbar-nav .nav-link:hover{
    color: #ffffff;
    font-size: larger;
    padding: 0 1em;
}

.nav-link{
    border-radius: 100px;
    margin: 5px;
    background-color: #F56EB3;
}

/* burger icon */
.fa-solid{
    color: #F56EB3;
}

/* footer */
.links{
    font-size: 40px;
    color: #F56EB3;
    margin: 0px 20px;
}

.links:hover{
    color: white;
    margin: 0px 20px;
    border: 2px dotted #F56EB3;
}

.text{
    font-size: 16px;
    color: #F56EB3;
}

/* gallery */
div > img{
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #460C68;
    border-radius: 20px;
    box-shadow: 3px 3px black;
}

.gallery{
    padding: 5px;
    max-width: 1100px;
    margin: 0 auto;
    background: #F56EB3;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(250px,2fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}

.v-stretch{
    grid-row: span 2;
}

.h-stretch{
    grid-column: span 2;
}

.big-stretch{
    grid-row: span 2;
    grid-column: span 2;
}

@media(max-width: 560px)
{
    .v-stretch{
        grid-row: span 2;
    }
    .h-stretch{
        grid-row: span 2;
    }
    .big-stretch{
        grid-column: span 2;
        grid-row: span 2;
    }
}

/* index content */
#content{
    padding-top: 20px;
}

.container_index > p{
    font-size: 32px;
    padding-top: 30px;
}

/* know me content */
#formal{
    padding: 20px 0px;
}

#knowme{
    text-align: justify;
    font-size: 50px;
}

/* duties content */
.duties-cnt{
    display: flex;
    align-items: center;
    align-self: center;
    margin: 10px;
}

.duties-img{
    width: 100%;
}

.duties-img > img{
    width: 100%;
    height: 100%;
}

#duties-content{
    padding-left: 20px;
    width: 50%;
    font-size: 28px;
}

#duties-content > p{
    padding: 10px;
}

@media screen and (max-width:992px) {
    .duties-cnt{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    #duties-content{
        padding: 20px;
        width: 100%;
        font-size: 28px;
    }
}

/* skills */
.skills{
    display: flex;
    flex-direction: row;
}

.skills div{
    border: 3px solid #460C68;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 33.33%;
    font-size: 30px;
    background-color: #f56eb4;
    color: #460C68;
}

@media screen and (max-width:376px) {
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills div{
        width: 100%;
    }
}

@media screen and (max-width:426px) {
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills div{
        width: 100%;
    }
}

@media screen and (max-width:769px) {
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:1023px) {
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills div{
        width: 100%;
        text-align: center;
    }
}

/* contacts */
.contact{
    display: flex;
    margin: 5px;
    background-color: #460c6838;
    border-radius: 10px;
    border: 2px solid #460C68;
}

.left-side{
    width: 50%;
}

.left-side div{
    padding-top: 30px;
    color: #460C68;
}

.left-side ul{
    padding-top: 30px;
    font-size: 25px;
    color: #460C68;
}

.left-side div a{
    padding-top: 30px;
    color: #460C68;
    text-decoration: none;
}

.left-side div a:hover{
    padding-top: 30px;
    font-size: 30px;
    color: #ffffff;
    text-decoration: underline;
}

h3{
    text-align: center;
}

.right-side{
    display: grid;
    grid-template-columns: auto auto;
    grid-row: inherit;
    grid-gap: 0;
    width: 50%;
}

.right-side img{
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

@media screen and (max-width:768px) {
    .contact{
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    .left-side{
        width: 100%;
    }

    .right-side{
        grid: none;
        grid-gap: 0;
        width: 100%;
    }
}